html { 
  /* personalización para que la imagen ocupe todo el espacio de la página*/
  background: url(../imagenes/proyectos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

.contenido{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	box-shadow: 2px 3px 4px black;
	color: white;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	margin: auto;
	padding: 60px;
	width: 880px;
}

.contenidoLista{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	box-shadow: 2px 3px 4px black;
	color: white;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	margin: auto;
	padding: 60px;
	width: 1100px;	
}

.espacioTextoElementoForm{
	color: white;
	text-align: right;
}

#botonEnviar{
	text-align: right;	
}

#tabla{
	border: 0px;
	color: white;
	height: auto;
	overflow: hidden;
	padding:0px 15px;
	/*width: 1000px;*/

	border-collapse: collapse;
    width: 100%;
}

#tabla th, #tabla td{
    vertical-align: top;
    padding: 0px 5px;
    text-align: left;
    border: 1px solid #000;
    border-collapse: collapse;
}

#tabla thead {
   font-weight: bold;
 color:#fff;
 background-color: #444;
 border-bottom:1px #000 solid;
}

.celda{
	height: auto;
	width: 130px;
}

.destacado{ 
	font-weight: bold;
}


.celda2{
	float: left;
	height: auto;
	text-align:justify;
	width: 130px;
}
	
.limpiar{
	clear: both;
}

.informacion{
	float: left;
}


.seccion{
	margin-bottom: 70px;
	text-align: justify;
}


/* Titulos de secciones*/
h2{
	font-size: 26px;
	color: #3388BB;
	border-bottom:  2px solid #3388DD
}


.titulo{
	font-weight: bold;
	font-size: 20px;
}

/* Color de enlaces*/
a[href]{
	color: orange;
}


/* Tamaño de controles de formulario */
input, textarea, select{
  width : 300px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}


/* Tamaño de los botones*/
input[type=submit], input[type=reset]{
	width : 100px;
}

#buscador{
	margin-top: 20px;
	margin-bottom: 10px;
}


body > footer{
	background: #666;
}





