html { 
  /* personalización para que la imagen ocupe todo el espacio de la página*/
  background: url(../imagenes/proyectos.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.contenido{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	box-shadow: 2px 3px 4px black;
	color: white;
	font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
	font-size: 16px;
	margin: auto;
	padding: 60px;
	width: 880px;
}


.infoto{
	height: 250px;
}

.informacion{
	float: left;
}

.espacio-foto{
	float: right;
}


#foto{
	border-radius: 50%;
	height: 200px;
}

.seccion{
	margin-bottom: 70px;
	text-align: justify;
}

/* Titulos de secciones*/
h2{
	font-size: 26px;
	color: #3388BB;
	border-bottom:  2px solid #3388DD
}

.duracion{
	font-weight: normal;
	font-style: italic;
	font-size: 16px;
}

.titulo{
	font-weight: bold;
	font-size: 20px;
}

/* Color de enlaces*/
a[href]{
	color: orange;
}

